[user]
	name = Edoc Rekam
	email = edoc.rekam@gmail.com
[gui]
	fontdiff = -family \"Courier New\" -size 9 -weight normal -slant roman -underline 0 -overstrike 0
[difftool]
	prompt = true
[difftool "vsdiff"]
	cmd = d:/programs/estart.exe VSDIFF 64 HERNE -r1 \"$LOCAL\" \"$REMOTE\"
	trustexitcode = false
[difftool "vsddiff"]
	cmd = d:/programs/estart.exe VSDDIFF 64 HERNE -t \"$LOCAL\" \"$REMOTE\"
	trustexitcode = false
[merge]
	tool = vsmerge
[mergetool "vsmerge"]
	cmd = d:/programs/estart.exe VSMERGE 64 HERNE -smart -quiet \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
[push]
	default = simple
[core]
	autocrlf = false
	whitespace = trailing-space,space-before-tab,cr-at-eol
[am]
	keepcr = true
[alias]
	vsddiff = difftool -t vsddiff --dir-diff
        vsdiff = difftool -t vsdiff
	pullvso = git pull vso
[credential]
	helper = wincred
