[user]
	name = Edoc Rekam
	email = edoc.rekam@gmail.com
[gui]
	fontdiff = -family \"Courier New\" -size 9 -weight normal -slant roman -underline 0 -overstrike 0
[difftool]
	prompt = true
[difftool "vsdiff"]
	cmd = estart.exe VSDIFF 64 HERNE -r1 \"$LOCAL\" \"$REMOTE\"
	trustexitcode = false
[difftool "vsddiff"]
	cmd = estart.exe VSDIFF 64 HERNE -t \"$LOCAL\" \"$REMOTE\"
	trustexitcode = false
[merge]
	tool = vsmerge
[mergetool "vsmerge"]
	cmd = estart.exe VSMERGE 64 HERNE -smart -quiet \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
[push]
	default = simple
[core]
	autocrlf = false
	whitespace = trailing-space,space-before-tab,cr-at-eol
[am]
	keepcr = true
[alias]
        bless = !git config credential.helper wincred
	vsddiff = difftool -t vsddiff --dir-diff
        last = log -1 HEAD
        ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
        ls-same = "!git ls-tree -r HEAD | cut -c 14- | sort | uniq -D -w 40"
        tfspush = tf checkin --deep --metadata --no-lock --mentions --keep-author
        trim = !git ls-files -mo --exclude-from=.gitignore -z | xargs -0 sani
        unstage = reset HEAD --
        vsdiff = difftool -t vsdiff
        undo = "!f() { n=${1-1}; git reset HEAD~$n; }; f"
[credential]
	helper = wincred
